[submodule "themes/tranquility"]
	path = themes/tranquility
	url = ssh://git@ssh.github.com:443/hooozen/hexo-theme-tranquility.git
[submodule "themes/academic"]
	path = themes/academic
	url = ssh://git@ssh.github.com:443/hooozen/hexo-theme-academic.git
